body {
    text-align: justify;
    background-color: #f4f4f4;
    margin: 20px;
}

#geral {
    text-align: center;
    margin: 20px 0px;
}

#div-form {
    width: 350px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 3px solid rgba(110, 108, 108, 0.205);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 8px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

#div-lista-veiculos {
    width: 350px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 3px solid  rgba(110, 108, 108, 0.205);
}

.veiculo-novo{
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-align:justify
}